


#slider{
    padding-top: 50px;
}
.slider-content{
    background-color: #feeae9;
    border-radius: 10px;
}
.price{
    color: #FF136F;
    font-weight: 500;
    margin: 20px 0px;
}
.buy-now-button{
    background-color: #FF136F;
    padding: 10px 35px;
    border-radius: 5px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
    display: inline-block;
    transition: 0.5s;
}
.buy-now-button:hover{
    transform: translateY(-5px);
}